body {
  background-color: #2a231a;
  color: #eee;
  font-family: 'Simonetta', cursive;
}

h2 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.resource-list {
  list-style: none;
  margin-left: 0px;
}

.resource {
  background-color: #c2baaf;
  border-radius: 4px;
  color: #1B1308;
  margin-bottom: 20px;
  min-height: 80px;
  padding: 20px;
  position: relative;
  width: 50%;
}

.resource .name {
  display: block;
  font-family: 'Spirax', cursive;
  font-size: 40px;
  line-height: 40px;
  margin-top: -5px;
  width: 60%;
}

.resource .name a {
  color: #1B1308;
  display: block;
  font-family: 'Spirax', cursive;
  font-size: 40px;
  line-height: 40px;
  margin-top: -5px;
  width: 60%;
}

.resource .checkout {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 75px;
}

.resource .location {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  width: 60%;
}

.resource .checked-in {
  display: inline;
}

.resource .checked-out {
  display: none;
}

.user-name {
  font-family: 'Simonetta', cursive;
  font-size: 16px;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 70px;
  width: auto;
}

.navbar-inner {
  background-color: #c2baaf;
}

nav a{
  margin-left: 10px;
}
.btn-primary {
  background-image: linear-gradient(to bottom, #94826a, #2a231a);
  background-color: #94826a;
}

.btn-primary:hover {
  background-color: #2a231a;
}

ul#users li {
  line-height: 40px;
  list-style-type: none;
}

.navbar .nav>li.brand>a {
  padding: 0;
}
