<h2>Check Out a Resource, Yo!</h2>
<ul class="resource-list">
  <%= Enum.map @resources, fn(resource) -> %>
    <li>
      <div><%= resource[:name] %></div><div><%= resource[:location]
        %></div><div><a class="btn btn-primary <%= resource[:checked_out] && "disabled" %>"><%= resource[:checked_out] || "Check Out"
          %></a></div>
    </li>
  <% end %>
</ul>
